<app-header>
  <span title>Employees</span>
  <span description>This is the list of employees</span>
</app-header>

<div *ngIf="employees.length == 0">
  <div class="jumbotron">
    <h1>No employees!</h1>
    <p>Fill out form to add employee!</p>
  </div>
</div>

<div *ngIf="employees.length > 0">
  <div class="container">
    <div class="row">
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <!-- <th>ID</th> -->
          <th>First name</th>
          <th>Last name</th>
          <th>Date of birth</th>
          <th>Position</th>
          <th>Salary</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <!-- <td>{{employee.id}}</td> -->
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.dateOfBirth | date: 'shortDate'}}</td>
          <td appManager="yellow">{{employee.position | positionUppercased}}</td>
          <td [ngClass]="{'higher-salary': employee.salary > 10000}" >{{employee.salary | currency}}</td>
          <td><button
            class="btn btn-outline-danger"
            type="button"
            aria-label="remove"
            (click)="removeEmployee(employee.id)"
            ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </button></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Add a new Employee</h1>
    <form [formGroup]="employeeForm">
      <div class="row form-group">
        <div class="col-sm-4">
          <label>First name</label>
          <input
            formControlName="firstName"
            type="text"
            class="form-control"
            placeholder="First name"
          />
        </div>
        <div class="col-sm-4">
          <label>Last name</label>
          <input
            formControlName="lastName"
            type="text"
            class="form-control"
            placeholder="Last name"
          />
        </div>
        <div class="col-sm-4">
          <label>Date of birth</label>
          <input
            formControlName="dateOfBirth"
            type="date"
            class="form-control"
            placeholder="Date of birth"
          />
        </div>
        <div class="col-sm-4">
          <label>Position</label>
          <input
            formControlName="position"
            type="text"
            class="form-control"
            placeholder="Position"
          />
        </div>
        <div class="col-sm-4">
          <label>Salary</label>
          <input
            formControlName="salary"
            type="number"
            class="form-control"
            placeholder="Salary"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button
            [disabled]="employeeForm.invalid"
            class="btn btn-primary float-right"
           (click)="addEmployee()"
          >
            Submit
          </button>
          <button
            class="btn btn-default float-right"
            (click)="employeeForm.reset()"
          >
            Reset your form
          </button>
        </div>
      </div>
    </form>
  </div>
</div>